.col {
  grid-column-start: var(--start-xs);
  grid-column-end: var(--end-xs);
}

@media (min-width: 576px) {
  .col {
    grid-column-start: var(--start-sm);
    grid-column-end: var(--end-sm);
  }
}

@media (min-width: 768px) {
  .col {
    grid-column-start: var(--start-md);
    grid-column-end: var(--end-md);
  }
}

@media (min-width: 992px) {
  .col {
    grid-column-start: var(--start-lg);
    grid-column-end: var(--end-lg);
  }
}
