.col {
  display: grid;
  grid-column: span var(--col-xs);
}

@media (min-width: 576px) {
  .col {
    grid-column: span var(--col-sm);
  }
}
@media (min-width: 768px) {
  .col {
    grid-column: span var(--col-md);
  }
}
@media (min-width: 992px) {
  .col {
    grid-column: span var(--col-lg);
  }
}
