.container {
  display: flex;
  align-items: center;
  min-height: 25rem;
  background-color: #d4b07a;
  background-image:
    repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      rgba(212, 176, 122, 0.5) 80px
    ),
    repeating-linear-gradient(
      rgba(138, 108, 56, 0.333),
      rgba(138, 108, 56, 0.333) ,
      rgba(138, 108, 56, 0.333) 30px,
      rgba(138, 108, 56, 0.05)
    );
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-4);
  margin-inline: auto;
  max-width: var(--container-max);
  flex-direction: column;
  gap: var(--spacing-4);

  @media (min-width: 767px) {
   
      flex-direction: row;
    }
  
}

.image {
  border: 3px solid var(--color-ring);
  box-shadow: 0 0 15px 5px var(--color-foreground);
}